<div class="container-float">
    <div class="row">
        <div class="col-sm-12 container-float">
            <p style="text-align: center; background-color: burlywood;">My Dashboard</p>
        </div>
    </div>
    <div class="row container-float">
        <div class="col-sm-2 container-float d-flex flex-column bd-highlight mb-3" style="background-color: #0058b5;">
            <div class="d-inline-flex p-2 bd-highlight btn btn-primary ">Students</div>
            <br>
            <div class="d-inline-flex p-2 bd-highlight btn btn-primary">Teachers</div>
            <br>
            <div class="d-inline-flex p-2 bd-highlight btn btn-primary">My Profile</div>
            <br>
            <div class="d-inline-flex p-2 bd-highlight btn btn-primary">Subjects</div>
        </div>
        <div class="col-sm-10 container-float">

        </div>
    </div>
</div>
