<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 container">
            <p style="text-align: center; background-color: burlywood;">My Dashboard</p>
        </div>
    </div>
    <div class="row container">
        <div class="col-sm-2 container d-flex flex-column bd-highlight mb-3"
            style="background-color: #0058b5; height: 500px;">
            <div class="d-inline-flex p-2 bd-highlight btn btn-primary  mt-2" [routerLink]="[{
                                                                                outlets: {
                                                                               'inside': ['myProfile']
                                                                                }
                                                                               }]">My Profile</div>
            <br>
            <div class="d-inline-flex p-2 bd-highlight btn btn-primary" *ngIf="showStudents" [routerLink]="[{
                                                                                                        outlets: {
                                                                                                        'inside': ['studentslist']
                                                                                                         }
                                                                                                        }]">Students</div>
            <br>
            <div class="d-inline-flex p-2 bd-highlight btn btn-primary" *ngIf="showTeachers" [routerLink]="[{
                                                                                                    outlets: {
                                                                                                    'inside': ['teachersList']
                                                                                                    }
                                                                                                   }]">Teachers</div>
            <br>

            <div class="d-inline-flex p-2 bd-highlight btn btn-primary" *ngIf="showSubjects" [routerLink]="[{
                                                                                                    outlets: {
                                                                                                    'inside': ['subjects']
                                                                                                    }
                                                                                                    }]">Subjects</div>
        </div>
        <div class="col-sm-10 container">
            <router-outlet name='inside'> </router-outlet>

        </div>
    </div>
</div>